html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    font-size: 15px;
}

.navbar {
    background-color:#fff387;
    padding:0px 16px;
    height:60px;
    padding-top:0;
    padding-bottom:0;
}

a.nav-link {
    padding:8px;
}

.navbar-brand img {
    margin: 0 4px 0 0;
    height: 52px;
    width: auto;
}

header .container-fluid,
header .container {
    padding-left: 0;
    padding-right: 0;
}