html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

/* --- Layout ------------------------------------------------------- */

body {
    margin-bottom: 60px;
    padding-top: 60px; 
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    font-size: 15px;
}

/* --- NAVBAR (Moodle-style) ---------------------------------------- */

.navbar {
    background-color: #fff387 !important; /* gul */
    height: 60px !important;
    padding: 0 16px !important;
    border: none !important;
    box-shadow: none !important;
}

/* Remove left padding in header-container */
header .container-fluid,
header .container {
    padding-left: 0 !important;
    padding-right: 16px !important;
    height: 60px;
    display: flex;
    align-items: center;
}

/* Logo */
.navbar-brand {
    margin: 0 !important;
    padding: 0 !important;
    display: flex !important;
    align-items: center !important;
}

    .navbar-brand img {
        margin: 0 4px 0 0 !important;
        height: 52px !important;
        width: auto !important;
    }

/* Menu-links  */
.navbar-nav {
    display: flex;
    align-items: stretch;
}

    .navbar-nav .nav-link {
        display: flex;
        align-items: center;
        padding: 0 16px !important;
        line-height: 60px !important; 
        color: #1d2125 !important; 
        font-weight: 500; 
        text-decoration: none;
    }

        /* Hover */
        .navbar-nav .nav-link:hover {
            color: #1d2125 !important;
            text-decoration: none;
        }

        
        .navbar-nav .nav-link.active {
            font-weight: 600 !important;
        }

/* Right side of navbar (usernavigation) */
#usernavigation {
    height: 60px;
    display: flex;
    align-items: center;
}

/*Side navbar for filtering*/
.sidenav {
    border: 1px solid #e2e2e2;
}

    .sidenav label {
        color: #333;
    }

.table thead th {
    background-color: #f8f9fa;
    font-weight: 600;
}
