@page
@model HomeModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>Velkommen Zealanders</h2>
    <a class="nav-link" asp-area="" asp-page="/ManageBookings">Test</a>
</div>
