@page
@model Zealand_Lokale_Booking_UI.Pages.RoomsModel
@{
    ViewData["Title"] = "Rooms";
}

<div style="text-align:center; margin-top:40px;">
    <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExb3RqcGE5czBqeDZ6dDAyZDR2b3g2anp6aHIxcW92bWtyZnJoaTN0MCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/8rN9VXNb7dfU792YQt/giphy.gif"
         alt="Funny GIF" />
</div>

